colorHeader=#6D8700;
colorMenu=#4B2806
colorEnunciado=#A67600

.headerPrincipal
	background colorHeader
	background colorHeader
    overFlow hidden 
	border-radius: 60px 60px 50px 10px 
	padding: 100px
	
	h1
		color #4A2E11
		tex-aling center
		font-size:64px
		
		h2
		color #4A2E11
		tex-aling center
		font-size:40px
		
		.imagenA
			float right;
		
		.logotipo
			float left
			
			.menuOp
				float center
				
				ul
					li 
						display inline-block
						background colorMenu
			            padding 15px
			            margin 3px	
			            
			     a 
				color #4B2806
				font-size:20px
				text-decoration none
				
.enunciados
	h2
		color #4A2E11
		text-align center
		font-size:35px				
				
		
		